body {
    background-color: floralwhite;
}


/*Navigation bar start*/

nav {
    display: flex;
    gap: 0.5rem;
}

a {
    flex: 1;
    background-color: #333;
    color: #fff;
    border: 1px solid;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s ease-out;
}

a:hover,
a:focus {
    background-color: #fff;
    color: #333;
}


/*Navigation bar end*/

img {
    width: 150px;
    border-radius: 10%;
}

.left {
    display: block;
    padding-left: 15px;
    padding-top: 15px;
}

div {
    border: 1px solid blue;
    padding-top: 25px;
    padding-left: 15px;
}

@media screen and (max-width:1024px) {
    body {
        background-color: floralwhite;
    }
    div {
        border: 1px solid red;
        padding-top: 25px;
    }
    img {
        width: 200px;
        border-radius: 10%;
    }
    .left {
        display: block;
        padding-left: 15px;
        padding-top: 15px;
    }
}