img {
    width: 125px;
    height: 125px;
    border-radius: 10%;
}

div {
    border: 1px solid blue;
    padding-top: 25px;
    padding-left: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:1024px) {
    body {
        background-color: beige;
    }
    div {
        border: 1px solid blue;
        padding-top: 25px;
    }
    img {
        width: 200px;
        border-radius: 10%;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}