img {
    width: 200px;
    border-radius: 10%;
}

div {
    padding-top: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:1024px) {
    body {
        background-color: beige;
    }
    img {
        width: 200px;
        border-radius: 10%;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}