body {
    font-family: Times, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.resume-container {
    max-width: 100%;
    margin: 360px auto 0;
    /* Updated margin */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.section {
    margin-top: 20px;
}

.section h3 {
    margin-bottom: 10px;
}

.section p {
    margin-bottom: 5px;
}


/*alignment Experience(internship),date attended*/

.internship {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.interndate {
    margin-left: auto;
}


/*alignment Experience(university), date attended*/

.utrgvdev {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.devdate {
    margin-left: auto;
}


/*alignment Education(university), date attended*/

.university {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.unidate {
    margin-left: auto;
}


/*alignment andy,michael contact-container*/

.contact-container {
    display: flex;
}

.michaelPersans,
.andyRios {
    flex: 1;
}


/*end of alignment andy,michael contact-container*/