.contact-container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
    margin-left: 5%;
}

label {
    background: #59adeb;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #80c7fa 0%, #59adeb 23%, #42c2b5 52%, #34ce93 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #80c7fa 0%, #59adeb 23%, #42c2b5 52%, #34ce93 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #80c7fa 0%, #59adeb 23%, #42c2b5 52%, #34ce93 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59adeb', endColorstr='#34ce93', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    animation: waveColors 11s ease infinite;
    background-size: 200%;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    border-radius: 10px;
}

form h3 {
    color: Ivory;
    font-weight: 800;
    margin-bottom: 20px;
}

form input,
textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: ivory;
    font-size: 16px;
}

form button {
    padding: 15px;
    background: Ivory;
    color: darkblue;
    font-size: 22px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
}

@media screen and (max-width: 1024px) {
    .contact-container {
        width: 90%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 400px;
        margin-left: 5%;
    }
    label {
        background: #59adeb;
        /* Old browsers */
        background: -moz-linear-gradient(-45deg, #80c7fa 0%, #59adeb 23%, #42c2b5 52%, #34ce93 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #80c7fa 0%, #59adeb 23%, #42c2b5 52%, #34ce93 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #80c7fa 0%, #59adeb 23%, #42c2b5 52%, #34ce93 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59adeb', endColorstr='#34ce93', GradientType=1);
        /* IE6-9 fallback on horizontal gradient */
        animation: waveColors 11s ease infinite;
        background-size: 200%;
        display: flex;
        flex-direction: column;
        padding: 2vw 4vw;
        width: 90%;
        border-radius: 10px;
    }
    form h3 {
        color: ivory;
        font-weight: 800;
        margin-bottom: 20px;
    }
    form input,
    textarea {
        border: 0;
        margin: 10px 0;
        padding: 20px;
        outline: none;
        background: ivory;
        font-size: 16px;
    }
    form button {
        padding: 15px;
        background: Ivory;
        color: darkblue;
        font-size: 22px;
        border: 0;
        outline: none;
        cursor: pointer;
        width: 150px;
        margin: 20px auto 0;
        border-radius: 30px;
    }
}